@font-face {
  font-family: Roboto;
  src: url('/font/Roboto-Black.ttf');
}

body {
  margin: 0px;
  padding: 0px;
  background-image: url("https://entertaininggames.club/wp-content/uploads/2021/10/colorful-stingrays.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Roboto';
}

.header_logo img {
  display: block;
  width: 500px;
  height: 150px;
  margin: 20px auto;
}

.menu_top {
  display: flex;
  justify-content: center;
}

.menu_top ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 956px;
  margin: auto;
}

.menu_top ul li {
  list-style: none;
}

.menu_top ul li a {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  color: white;
  text-decoration: none;
  font-family: "Roboto";
}

.search_top {
  margin-left: 10px;
  max-width: 130px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  padding: 0px 7px;
  border-radius: 50px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  /* padding: 16px; */
}

.fill_svg {
  fill: white;
  width: 15px;
  margin-top: 5px;
}

.search input {
  width: 82%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid;
  padding-left: 60px;
}

.form_search {
  width: 90%;
  margin: auto;
}

form .search {
  position: relative;
}

.fill_svg_v2 {
  fill: #818181;
  position: absolute;
  left: 24px;
  top: 14px;
}

.list_g {
  width: 90%;
  margin: auto;
}

.list_hot h4 {
  color: white;
  font-family: "Roboto";
}

.list_hot .list {
  display: flex;
  justify-content: space-between;
}

.list_items {
  position: relative;
}

.title_item {
  position: absolute;
  top: 39px;
  color: white;
  width: 100%;
  opacity: 0;
  font-size: 12px;
  cursor: pointer;
}

.title_item p {
  text-align: center;
}

.list_items img {
  width: 80px;
  border-radius: 10px;
  min-height: 100%;
}


.list_items img {
  transition: transform 1s;
  margin: 0 auto;
}

.list_items:hover img,
.title_item {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.1);

  opacity: 1;
}

.list_all_game {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 22px 15px;
}

.game_item {
  width: 11.8%;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.game_item img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.game_item {
  transition: transform 1s;
  position: relative;
}

.game_item:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.03);
}

.title_game {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  color: white;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.game_item:hover .title_game {
  transition: opacity 2s;
  opacity: 1;
}

footer {
  height: 25px;
  color: white;
  background-color: rgba(80, 120, 26, .38);
  text-align: center;
  padding: 20px;
}

.category_game {
  padding: 22px 15px;
  display: flex;
}

.list_category {
  width: 100%;
}

.group_items {
  text-align: center;
  /* width: 50%; */
  display: flex;
  cursor: pointer;
}

.group_items .items {
  background-color: white;
  margin-right: 10px;
  /* height: 204px; */
  width: 12%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 1s;
}


.group_items .items img {
  /* border-radius: 10px; */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}

.group_items .items:hover {
  -ms-transform: scale(1.5);
  /* IE 9 */
  -webkit-transform: scale(1.5);
  /* Safari 3-8 */
  transform: scale(1.03);
}

.group_items .item_poki img {
  border-radius: 10px !important;
}


.group_items .items p {
  margin: 5px 0px;
}

.group_items2 {
  width: 100%;
  /* height: 100%; */
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
}


.group_items2 .items {
  display: flex;
  height: 100%;
  border-radius: 10px;
  background-color: white;
  width: 12%;
  margin-bottom: 10px;
  cursor: pointer;
}


.group_items2 .items img {
  height: 100%;
  width: 40%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.group_items2 .items p {
  margin: 0px;
  width: 60%;
  padding: 18px 13px;
  line-height: 25px;
}

.menu_nav {
  display: none;
}

/* details */
main {
  width: 100%;
  margin-top: 40px;
}

.play_game {
  width: 65%;
  margin: auto;
}

.play_game iframe {
  width: 100%;
  height: 700px;
  border-radius: 10px;
  box-shadow: -2px 7px 10px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -2px 7px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 7px 10px 1px rgba(0, 0, 0, 0.75);
}

.webgl-content {
  overflow: hidden;
}

.descrestion{
  background-color: #f7f8f9;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  width: 64%;
}

.descrestion p{
  font-weight: 100;
  text-transform: none;
  font-size: 17px;
  line-height: 1.5;
  font-family: fangsong;
}

.play_game video{
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}

@media screen and (max-width: 1050px) {
  .menu_nav {
    width: 50%;
    display: block;
  }

  .list-menu {
    display: none;
  }

  .group_items2 .items {
    width: 24%;
  }

  .search_top {
    max-width: 50%;
    width: 50%;
    padding-right: 20px;
  }

  .menu_nav {
    padding-left: 20px;
  }

  .play_game{
    width: 90%;
  }

  .play_game iframe{
    height: 515px;
  }

}

@media screen and (max-width: 450px) {
  .header_logo img {
    display: block;
    width: 190px;
    height: 74px;
    margin: 20px auto;
  }

  .category_game {
    padding: 22px 10px;
    display: flex;
  }

  .list_category {
    width: 100%;
  }

  .group_items {
    text-align: center;
    /* width: 50%; */
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .game_item {
    width: 21.8%;
  }

  .group_items .items {
    width: 46%;
    margin-bottom: 10px;
  }

  .group_items2 .items p {
    width: 60%;
    padding: 7px 13px;
  }

  .group_items2 .items {
    width: 49%;
  }

  .search_top {
    width: 50%;
  }

  .openbtn {
    float: right;
    margin-top: 5px;
  }

  .list_items img {
    width: 70px;
  }


}

@media screen and (min-width: 751px)and (max-width: 950px) {
  .header_logo img {
    width: 265px;
    height: 78px;
  }

  .list_all_game {
    padding-left: 24px
  }

  .search_top {
    width: 50%;
    max-width: 100%;
    margin-right: 30px;
  }

  .menu_nav {
    margin-left: 30px;
  }

  .openbtn {
    float: right;
  }

  .game_item {
    width: 14.8%;
  }

  .group_items {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .group_items .items {
    width: 23%;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .group_items2 .items {
    width: 24%;
  }

  .group_items2 .items p {
    padding: 9px 13px;
  }

  .play_game{
    width: 90%;
  }

  .play_game iframe{
    height: 490px;
  }
}

@media screen and (min-width: 551px)and (max-width: 750px) {
  .list_all_game {
    padding-right: 32px;
    padding-left: 24px;
  }

  .header_logo img {
    display: block;
    width: 250px;
    height: 85px;
    margin: 20px auto;
  }

  .category_game {
    padding-right: 34px;
    padding-left: 20px;
    display: flex;
  }

  .list_category {
    width: 100%;
  }

  .group_items {
    text-align: center;
    /* width: 50%; */
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .game_item {
    width: 15.8%;
  }

  .group_items .items {
    width: 32%;
    margin-bottom: 10px;
    margin-right: 0px;
  }

  .group_items2 .items p {
    width: 60%;
    padding: 7px 15px;
  }

  .group_items2 .items {
    width: 49%;
  }

  .search_top {
    width: 50%;
    max-width: 50%;
    padding-right: 30px;
  }

  .openbtn {
    float: right;
    margin-top: 5px;
  }

  .list_items img {
    width: 70px;
  }

  .menu_top {
    padding-left: 30px;
  }

  .play_game{
    width: 90%;
  }

  .play_game iframe{
    height: 350px;
  }
}


@media screen and (min-width: 350px)and (max-width: 550px) {
  .list_all_game {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header_logo img {
    display: block;
    width: 190px;
    height: 74px;
    margin: 20px auto;
  }

  .category_game {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
  }

  .list_category {
    width: 100%;
  }

  .group_items {
    text-align: center;
    /* width: 50%; */
    display: flex;
    cursor: pointer;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .game_item {
    width: 21.8%;
  }

  .group_items .items {
    width: 49%;
    margin-bottom: 10px;
    margin-right: 0px;
  }

  .group_items2 .items p {
    width: 60%;
    padding: 7px 15px;
  }

  .group_items2 .items {
    width: 49%;
  }

  .search_top {
    width: 50%;
    max-width: 50%;
    padding-right: 20px;
  }

  .openbtn {
    float: right;
    margin-top: 5px;
  }

  .list_items img {
    width: 70px;
  }

  .menu_nav {
    padding-left: 20px;
  }

  .play_game{
    width: 90%;
  }

  .play_game iframe{
    height: 211px;
  }

  .descrestion{
    width: 85%;
  }
}